@{
    ViewBag.Title = "Review";
    Layout = "Layout";
}

<div id="main">
    <div class="container-fluid">
        <div class="row fixed-top border-bottom">
                <div class="col-12">
                    <div class="row px-3 py-2 bg-primary">
                            <div class="col-12 d-flex flex-row">
                                <div  class="my-auto text-white">Please review the documents below</div>
                                <button v-on:click="toggleUseSign()" class="ml-auto btn btn-warning rounded-0 text-uppercase">FINISH</button>
                                <div class="dropdown ml-2">
                                    <button class="btn dropdown-toggle text-uppercase text-white">Other actions</button>
                                </div>
                            </div>
                        </div>
                        <div class="row py-2 justify-content-center bg-white" id="toolbar">
                            <div class="col-8 d-flex justify-content-center">
                                @*Tool icons*@
                                <button class="btn btn-light rounded-0 d-flex justify-content-center align-items-center">
                                    <i class="fas fa-undo-alt"></i>
                                </button>
                                <button class="btn btn-light border-right rounded-0 d-flex justify-content-center align-items-center">
                                    <i class="fas fa-redo-alt"></i>
                                </button>
                                <button class="btn btn-light rounded-0 d-flex justify-content-center align-items-center">
                                    <i class="fas fa-copy"></i>
                                </button>
                                <button class="btn btn-light border-right rounded-0 d-flex justify-content-center align-items-center">
                                    <i class="fas fa-paste"></i>
                                </button>
                                <button class="btn btn-light border-right dropdown-toggle rounded-0 d-flex justify-content-center align-items-center">
                                    137%
                                </button>
                            </div>
                        </div>
                </div>
            </div>
            <div class="row d-flex align-items-stretch  justify-content-center 
                    overflow-y h-100 flex-grow-1 app-bg-color" 
                 style="margin-top: 13vh;">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-12">
                            <div class="row justify-content-center" id="docImagesContainer">
                                <div v-for="image in docImages" class="col-11 my-2">
                                    <img v-bind:src="'/images/'+image" alt="" class="img-fluid border border-dark"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div v-if="useSign" class="w-100 position-absolute" id="adoptSignModal" style="z-index: 3; top:0;">
        <div class="w-100 h-100 d-flex align-items-center justify-content-center position-fixed" style="height: 100vh;
            background-color: rgba(0,0,0,0.5)">
            <div class="col-8 p-1 bg-white">
                <div class="col-12  border border-dark"
                     style="border-left: 3px solid black !important; ">
                    <div class="row border-bottom">
                        <div class="col-12 d-flex flex-row py-3">
                            <p>
                            <h5 class="font-weight-bold">
                                My Signature and Intials</h5>
                            </p>
                            <button type="button" class="close ml-auto"
                                    v-on:click="toggleUseSign()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="col-12">
                            <p>Choose a saved signature and initials or adopt new ones to use when signing the documents in
                                this envelope.</p>
                        </div>
                    </div>
                    <div class="row border-bottom bg-light py-2">
                        <div class="col-12">
                            <div class="row py-2 px-3">
                                <div class="col-3 d-flex align-items-center">
                                        <label>
                                            <input type="radio" class="">
                                            Saved
                                        </label>
                                </div>
                                <div class="position-relative col-6 
                                   py-3 border border-right-0 border-primary"
                                     style="border-radius: 10px !important;  border-width: 2px !important;">
                                                <span class="small bg-white px-1 w-100 font-weight-bold position-absolute"
                                                      style="top:-10px; left:20px;">
                                                    DocuSigned by:
                                                </span>
                                    <img src="/images/sign.png" alt="Govinda" class="img-fluid"
                                         style="height: 50px; width: auto;">
                                    <span class="small bg-white px-1 w-100 text-uppercase position-absolute"
                                          style="bottom:-10px; left:20px;">
                                                    18552465DSAD
                                                </span>
                                </div>
                                <div class="col-3 d-flex align-items-center justify-content-around">
                                    <button type="button" class="btn">Edit</button>
                                    <!--Close button-->
                                    <button type="button" class="btn btn-sm fas fa-times"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row border-bottom py-2">
                        <div class="col-12">
                            <button class="btn btn-warning rounded-0 text-uppercase">
                                USED SAVED
                            </button>
                            <button class="btn ml-2 rounded-0">
                                ADOPT NEW
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="module" src="~/js/manage-review.js"></script>
}