@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <link rel="stylesheet" href="~/css/app-manage.css">
    <link rel="stylesheet" href="~/css/app-manage-sign.css">
}

<div class="container-fluid" id="main">
    <div class="row py-2" id="toolbar">
        <div class="col-2">
            <div class="dropdown">
                <button class="btn w-100 text-left btn-light dropdown-toggle-split border border-dark rounded-0">
                    user
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </div>
        </div>
        <div class="col-8 d-flex justify-content-center">
            @*Tool icons*@
            <button class="btn btn-light rounded-0 d-flex justify-content-center align-items-center">
                <i class="fas fa-undo-alt"></i>
            </button>
            <button class="btn btn-light border-right rounded-0 d-flex justify-content-center align-items-center">
                <i class="fas fa-redo-alt"></i>
            </button>
            <button class="btn btn-light rounded-0 d-flex justify-content-center align-items-center">
                <i class="fas fa-copy"></i>
            </button>
            <button class="btn btn-light border-right rounded-0 d-flex justify-content-center align-items-center">
                <i class="fas fa-paste"></i>
            </button>
            <button class="btn btn-light border-right dropdown-toggle rounded-0 d-flex justify-content-center align-items-center">
                137%
            </button>
        </div>
        <div class="col-2 d-flex justify-content-end align-items-center">
            <button class="btn btn-light border border-dark rounded-0">SHORTCUTS</button>
        </div>
    </div>
    <div class="row d-flex align-items-stretch border-top" style="flex:1;">
        <div class="col-md-2 overflow-y-scroll d-flex flex-column  app-bg-color-2" id="side-menu">
            <div class="row bg-white">
                <div class="col-12 px-0">
                    <div class="input-group border rounded-0">
                        <span class="input-group-text border-0 bg-transparent">
                            <i class="fas fa-search"></i>
                        </span><input placeholder="Search Fields" class="form-control border-0" type="text">
                        <span class="ml-auto p-2"><i class="fas fa-times"></i></span>
                    </div>
                </div>
            </div>
            <div class="row d-flex align-items-stretch flex-grow-1">
                <div class="col-2 px-0">
                    <div class="w-100 cursor-pointer border-bottom p-2 py-3 
                                                d-flex justify-content-center align-items-center`"
                         v-for="field in fields"
                         v-on:click="setActiveField(field)"
                         v-bind:class="field.active ? 'bg-white':''">
                        <i v-bind:class="field.icon"></i>
                    </div>
                </div>
                <div class="col-10 bg-white">
                    <div class="text-uppercase text-start my-3 font-weight-bold">{{activeField.name}}</div>
                    <div class="row">
                        <div class="col px-0">
                            <ul class="list-group">
                                <li v-for="option in activeField.options" v-on:click="option.onClick"
                                    class="list-group-item border-0 cursor-pointer bg-transparent
                                                                                                 d-flex flex-row justify-content-start px-1">
                                    <i class="fas d-flex align-items-center bg-warning p-1 mx-2"
                                       v-bind:class="option.icon">
                                    </i>
                                    <span class="">{{option.name}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 overflow-y" id="middle-section">
            <div class="row">
                <div class="col-12  app-bg-color-2">
                    <div class="row justify-content-center" id="docImagesContainer">
                        <div v-for="signatures in components.signatures" class="draggable 
                                btn btn-warning border-dark">
                            <div class="font-weight-bold">Sign</div>
                            <div>
                                <i class="fas fa-download"></i>
                            </div>
                        </div>
                        <div v-for="image in docImages" class="col-11 my-2">
                            <img v-bind:src="'/images/'+image" alt="" class="img-fluid border border-dark"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 overflow-y app-bg-color-2" id="page-summary">
            <div class="row">
                <div class="col-12">
                    <div class="row justify-content-center">
                        <div v-for="image in docImages" class="col-11 my-2">
                            <img v-bind:src="'/images/'+image" alt="" class="img-thumbnail"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex flex-row text-uppercase justify-content-end border-top">
            <button class="btn btn-light m-2">Back</button>
            <button class="btn btn-warning rounded-0 m-2">Send</button>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="module" src="~/js/manage-sign.js"></script>
}