@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <link rel="stylesheet" href="~/css/app-manage.css">
    <link rel="stylesheet" href="~/css/app-manage-sign.css">
}
<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-12 d-flex flex-row text-uppercase justify-content-end border-bottom">
                    <button class="btn btn-light m-2">Back</button>
                    <button class="btn btn-warning rounded-0 m-2">Send</button>
                </div>
    </div>
    <div class="row d-flex align-items-stretch" style="flex:1;">
        <div class="col-md-2 px-0 overflow-y-scroll app-bg-color-2 d-flex flex-row" id="side-menu">
            <div class="h-100 col-2 px-0">
                <div class="w-100 cursor-pointer border-bottom p-2 py-3 
                                d-flex justify-content-center align-items-center`"
                     v-for="field in fields"
                     v-on:click="setActiveField(field)"
                     v-bind:class="field.active ? 'bg-white':''">
                    <i v-bind:class="field.icon"></i>
                </div>
            </div>
            <div class="h-100 col-10 bg-white">
                <div class="text-uppercase text-start my-3 font-weight-bold">{{activeField.name}}</div>
                <div class="row">
                    <div class="col px-0">
                        <ul class="list-group">
                            <li v-for="option in activeField.options" v-on:click="option.onClick"
                                class="list-group-item border-0 cursor-pointer bg-transparent
                                                                                 d-flex flex-row justify-content-start px-1">
                                <i class="fas d-flex align-items-center bg-warning p-1 mx-2"
                                   v-bind:class="option.icon">
                                </i>
                                <span class="">{{option.name}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 overflow-y" id="middle-section">
            <div class="row">
                <div class="col-12  app-bg-color-2">
                    <div class="row justify-content-center" id="docImagesContainer">
                        <div v-for="signatures in components.signatures" class="draggable 
                                btn btn-warning border-dark">
                            <div class="font-weight-bold">Sign</div>
                            <div>
                                <i class="fas fa-download"></i>
                            </div>
                        </div>
                        <div v-for="image in docImages" class="col-11 my-2">
                            <img v-bind:src="'/images/'+image" alt="" class="img-fluid border border-dark"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 overflow-y app-bg-color-2" id="page-summary">
            <div class="row">
                <div class="col-12">
                    <div class="row justify-content-center">
                        <div v-for="image in docImages" class="col-11 my-2">
                            <img v-bind:src="'/images/'+image" alt="" class="img-thumbnail"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex flex-row text-uppercase justify-content-end border-top">
                <button class="btn btn-light m-2">Back</button>
                <button class="btn btn-warning rounded-0 m-2">Send</button>
            </div>
    </div>
</div>

@section Scripts
{
    <script type="module" src="~/js/manage-sign.js"></script>
}