@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <link rel="stylesheet" href="~/css/app-manage.css">
}

<div class="container-fluid pt-3 pb-5 bg-white" id="main">
<div class="row pb-3 justify-content-center">
    <div class="col-11">
        <span class="font-weight-bold text-muted pr-3 border-right border-dark">
            <a asp-action="Index" asp-controller="Manage" class="text-secondary">
                <i class="fas fa-times cursor-pointer"></i>
            </a>
        </span>
        <span class="ml-3">Upload a Document and add envelope recipients</span>
    </div>
</div>
<div class="row d-flex align-items-stretch flex-grow-1">
    <div class="col-12 px-0 overflow-y" id="upload-section">
        <div class="row justify-content-center">
            <div class="col-9 ">
                    <div class="row px-5 bg-light">
                        <div class="col-sm-12">
                            <div class="row ">
                                <div class="col-12 d-flex flex-row mt-3">
                                    <h3 class="font-weight-bold ">Add Documents</h3>
                                    <span class="my-auto ml-auto font-weight-bold">
                                        <a data-toggle="collapse" href="#addDocuments" role="button"
                                           aria-expanded="true" aria-controls="addDocuments">
                                            <i class="fas fa-caret-up fa-lg text-muted cursor-pointer"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="col-12 my-3 collapse show" id="addDocuments">
                                    <div class="jumbotron rounded-0 bg-white text-center border-dashed border border-dark">
                                        <div class="mb-4">
                                            <span class="display-2">
                                                <i class="fas fa-file-upload"></i>
                                            </span>
                                        </div>
                                        <p class="my-3">Drop your files here or </p>
                                        <div class="custom-file">
                                            <div class="dropdown">
                                                <button class="btn btn-primary dropdown-toggle text-uppercase" aria-expanded="false"
                                                        data-bs-toggle="dropdown">
                                                    UPLOAD
                                                    <input type="file" class="custom-file-input"
                                                           id="customFile" multiple hidden>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="mb-5"/>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-12 d-flex flex-row">
                                    <h3 class="font-weight-bold ">Add Recipients</h3>
                                    <span class="my-auto ml-auto font-weight-bold">
                                        <a data-toggle="collapse" href="#addRecipients" role="button"
                                           aria-expanded="true" aria-controls="addRecipients">
                                            <i class="fas fa-caret-up fa-lg text-muted cursor-pointer"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="col-12 my-3 collapse show" id="addRecipients">
                                    <div class="row">
                                        <div class="col-12 mb-3">
                                            <div class="form-check">
                                                <input type="checkbox" id="only-recipient"
                                                       class="form-check-input">
                                                <label class="form-check-label" for="only-recipient">
                                                    I'm the only recipient
                                                    <span class="fas fa-exclamation-circle"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-12 my-3 d-flex flex-row">
                                            <div class="form-check">
                                                <input type="checkbox" id="signing-order"
                                                       class="form-check-input" DISABLED>
                                                <label class="form-check-label text-muted" for="signing-order">
                                                    Set signing order
                                                </label>
                                            </div>
                                            <div class="ml-3 d-flex flex-row">
                                                <div class="text-primary border-right px-2">View</div>
                                                <div class="px-2">
                                                    <span class="font-weight-bold text-uppercase">
                                                        <i class="fas fa-lock px-2"></i>
                                                        IMPORT BULK LIST
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="row px-3">
                                                <div class="w-100 border border-dark d-flex flex-row">
                                                    <div class="bg-warning h-100" style="width: 10px;"></div>
                                                    <div class="p-4 w-100 row">
                                                        <div class="col-7">
                                                            <div class="form-group">
                                                                <label class="font-weight-bold" for="recipient-name">
                                                                    Name
                                                                    <span
                                                                        class="text-danger">
                                                                        *
                                                                    </span>
                                                                </label>
                                                                <input type="text" id="recipient-name" class="form-control w-100">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="font-weight-bold" for="recipient-email">
                                                                    Email
                                                                    <span
                                                                        class="text-danger">
                                                                        *
                                                                    </span>
                                                                </label>
                                                                <input type="email" id="recipient-email" class="form-control w-100">
                                                            </div>
                                                        </div>
                                                        <div class="col-5">
                                                            <div class="row">
                                                                <div class="col-6 d-flex justify-content-center">
                                                                    <span class="text-uppercase font-weight-bold">
                                                                        <i class="fas fa-pen mr-2"></i>
                                                                        NEEDS TO SIGN
                                                                        <i class="ml-2 fas fa-caret-down cursor-pointer"></i>
                                                                    </span>
                                                                </div>
                                                                <div class="col-6 d-flex justify-content-center">
                                                                    <span class="text-uppercase font-weight-bold">
                                                                        CUSTOMIZE
                                                                        <i class="ml-2 fas fa-caret-down cursor-pointer"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-4">
                                            <div class="dropdown">
                                                <button class="btn btn-outline-secondary rounded-0 dropdown-toggle text-uppercase" aria-expanded="false"
                                                        data-bs-toggle="dropdown">
                                                    <i class="fas fa-user-plus mr-2"></i> ADD RECIPIENT
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="mb-5"/>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-12 d-flex flex-row">
                                    <h3 class="font-weight-bold ">Add Message</h3>
                                    <span class="my-auto ml-auto font-weight-bold">
                                        <a data-toggle="collapse" href="#addMessage" role="button"
                                           aria-expanded="true" aria-controls="addRecipients">
                                            <i class="fas fa-caret-up fa-lg text-muted cursor-pointer"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="col-12 my-3 collapse show" id="addMessage">
                                    <div class="row">
                                        <div class="col-12 mt-2 mb-3">
                                            <div class="form-group">
                                                <label class="font-weight-bold" for="recipient-email">
                                                    Email subject
                                                    <span
                                                        class="text-danger">
                                                        *
                                                    </span>
                                                </label>
                                                <input type="email" id="email-subject" class="form-control w-100">
                                                <p class="text-muted my-2">Characters remaining</p>
                                            </div>
                                            <div class="form-group mt-4">
                                                <label class="font-weight-bold" for="recipient-email">
                                                    Email message
                                                    <span
                                                        class="text-danger">
                                                        *
                                                    </span>
                                                </label>
                                                <textarea type="" id="email-body" class="form-control w-100"></textarea>
                                                <p class="text-muted my-2">Characters remaining</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="mb-2"/>
                            <div class="row my-2">
                                <div class="col-12 d-flex flex-row">
                                    <div class="font-weight-bold my-auto mr-3">Frequency of reminders</div>
                                    <div class="dropdown">
                                        <button class="btn btn-light border-dark dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"> Every 0 days </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Every 0 days</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-2 justify-content-end">
                        <button class="btn btn-warning rounded-0 my-2">Next</button>
                    </div>
                </div>
        </div>
    </div>
    
</div>
</div>