header {
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    margin-top: 60px;
}

.footer {
    background-color: white;
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.content-wrapper{
    position: absolute;
    z-index: 1;
    top:60px;
    width: 100%;
    height: calc(100% - 60px);
    padding-bottom: 60px;
}
#side-menu{
    background-color: var(--color-background);
    overflow-y: scroll;
    height: 100%;
}
#middle-section{
    overflow-y: auto;
    height: 100%;
    overflow-x: hidden;
}


