@using DocuSignWeb.ViewComponents
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - DocuSignWeb</title>
    @await Html.PartialAsync("_StylesPartial")
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
@await Component.InvokeAsync(typeof(HeaderViewComponent))

@RenderBody()
<footer class="fixed-bottom border-top d-flex align-items-center">
    <div class="my-auto container-fluid  text-muted bg-white">
        <div class="row  ">
            <div class="col-12">
                <span>© 2023 - DocuSignWeb - <a href="/Manage/Privacy">Privacy</a></span>
            </div>
        </div>
    </div>
</footer>
@await Html.PartialAsync("_ScriptsPartial")
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>