@using DocuSignWeb.ViewComponents
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - DocuSignWeb</title>
    @await Html.PartialAsync("_StylesPartial")
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
@await Component.InvokeAsync(typeof(HeaderViewComponent));

@RenderBody()

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - DocuSignWeb - <a asp-area="" asp-controller="Manage" asp-action="Privacy">Privacy</a>
    </div>
</footer>
@await Html.PartialAsync("_ScriptsPartial")
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>