<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - DocuSignWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/site.css"/>
    @RenderSection("Styles", required: false)
</head>
<body>
<header>
    <nav class="navbar navbar-light navbar-expand-md border border-bottom">
        <a class="navbar-brand" href="#">
            <span>Brand</span>
        </a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
            <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#">First Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Second Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Third Item</a>
                </li>
            </ul>
            <button class="btn btn-primary ml-auto" type="button">Button</button>
        </div>
    </nav>
</header>

@RenderBody()

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - DocuSignWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>